@page "/"
@using BlazorComponents.Monaco
@using BlazorComponents.Shared

<h2>Monaco using Blazor</h2>
<div class="row">
	<button class="btn btn-primary" onclick="@UpdateEditorModel">Update Editor Options</button>
</div>
<MonacoEditor ref="_editor" EditorModel="@_editorOptions" Width="600" Height="300" />
@functions {
EditorModel _editorOptions { get; set; }
MonacoEditor _editor;

protected override void OnInit()
{
	_editorOptions = new EditorModel
	{
		Language = "csharp",
		Script = @"using System;

// Awesomeness
public class Test
{
	public void X()
	{
		Console.WriteLine(""Hello world!"");
	}
}"
	};
}

public void UpdateEditorModel()
{
	_editorOptions.Script = "// Silly comment\n" + _editorOptions.Script;
	_editor.UpdateEditor(_editorOptions);
}
}